<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="nuget.bcp.bo" value="https://btbdow00/tfs/ARQUITECTURA/_packaging/nuget.bcp.bo/nuget/v3/index.json" />
	</packageSources>
</configuration>